.header {
    justify-content: center;
    text-align: center;
}

.border-header {
    display: flex;
}

.border-header a {
    color: black;
}

.border-footer {
    border-top: 2px solid black;
    display: flex;
    text-align: center;
}

.border-footer a {
    color: black;
}

#nav-link {
    border-top: 2px black solid;
    border-bottom: 2px black solid;
}

.button {
    margin-right: 10px;
    background: lightgray;
    border: transparent;
    padding: 0 10px;
    margin-bottom: 11px;
    float: right;
}

.nza-bck {
    background-image: url('../../images/nza_background.jpg');
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
}

.whitespace {
    background-color: white;
}

.newsfeed {
    width: 100%;
}

.red-sidebar {
    background-image: url('../../images/nav_side.jpg');
    color: white;
    width: 100%;
    height: 500px;
    overflow-y: scroll;
    margin: 25px;
}

#loginb {
    position: absolute;
    right: 0px;
    top: 0px;
}

.logo-main {
    margin-top: 25px;
    border-radius: 1px;
}

#lawfirm ul {
    list-style-type: none;
}

.linerhead {
    display: none;
}

/* Contact Us Page */

.red-sidebar2 {
    background-image: url('../../images/nav_side.jpg');
    color: white;
    width: 100%;
    height: 500px;
    overflow-y: scroll;
    margin: 25px;
    text-align: left;
}

.red-sidebar2 li {
    list-style: none;
}

.red-sidebar2 p {
    margin: 10px;
}

.red-sidebar2 h5 {
    margin: 15px;
    text-align: center;
}

.red-sidebar2 h7 {
    justify-content: center;
    text-align: center;
}

.where-we-work-container {
    background-image: url(/images/other_links_background.jpg);
    color: black;
    width: 100%;
    height: 500px;
    margin: 15px;
    text-align: left;
}

/* WHO WE ARE */

.grid-container1 {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-auto-rows: minmax(200px, auto);
    grid-template-rows: 400;
    grid-gap: 20px;
}

.grid-item {
    width: auto;
    height: auto;
    border: 1px solid black;
}

.grid-item1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    background-image: url(../../images/nav_side.jpg);
}

.grid-item2 {
    grid-column-start: 2;
    grid-column-end: 4;
    padding: 10px
}

.grid-item3 {
    grid-column-start: 2;
    grid-column-end: 3;
    background-image: url(https://via.placeholder.com/318x76);
}

.grid-item4 {
    grid-column-start: 3;
    grid-column-end: 4;
    background-image: url(../../images/sub-01-attorneys.jpg);
}

.grid-item5 {
    grid-column-start: 2;
    grid-column-end: 3;
    background-image: url(../../images/sub-01-staff.jpg);
}

.grid-item6 {
    grid-column-start: 3;
    grid-column-end: 4;
    background-image: url(../../images/sub-01-reputation.jpg);
}

.grid-item7 {
    grid-column-start: 2;
    grid-column-end: 3;
    background-image: url(../../images/sub-01-history.jpg);
}

h5 {
    font-size: 20px;
    color: white;
}

.who {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* WHAT WE DO */

.grid-container2 {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-auto-rows: minmax(200px, auto);
    grid-template-rows: 400;
    grid-gap: 20px;
}

.grid-item {
    width: auto;
    height: auto;
    border: 1px solid black;
}

.grid-item1b {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    background-image: url(../../images/nav_side.jpg);
}

.grid-item2b {
    grid-column-start: 2;
    grid-column-end: 4;
    padding: 10px
}

.grid-item3b {
    grid-column-start: 2;
    grid-column-end: 3;
    background-image: url(../../images/sub-02-subrogation.jpg);
}

.grid-item4b {
    grid-column-start: 3;
    grid-column-end: 4;
    background-image: url(../../images/sub-02-litigation.jpg);
}

.grid-item5b {
    grid-column-start: 2;
    grid-column-end: 3;
    background-image: url(../../images/sub-01-staff.jpg);
}

.grid-item6b {
    grid-column-start: 3;
    grid-column-end: 4;
    background-image: url(../../images/sub-02-warehouse.jpg);
}

/* WHERE WE WORK */

.grid-container3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(200px, auto);
    grid-template-rows: 400;
    grid-gap: 20px;
}

.grid-item {
    width: auto;
    height: auto;
    border: 1px solid black;
}

.grid-item1c {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    background-image: url(../../images/nav_side.jpg);
}

.grid-item2c {
    grid-column-start: 2;
    grid-column-end: 5;
    padding: 10px
}

.grid-item3c {
    grid-column-start: 2;
    grid-column-end: 4;
    background-image: url(../../);
}

.grid-item4c {
    grid-column-start: 4;
    grid-column-end: 5;
    background-image: url(../../);
}

/* Attorney Page */

.red-sidebar3 {
    background-image: url('../../images/nav_side.jpg');
    color: white;
    width: 100%;
    height: 500px;
    overflow-y: scroll;
    margin: 25px;
    text-align: left;
}

.red-sidebar3 li {
    list-style: none;
}

.red-sidebar3 p {
    margin: 10px;
}

.red-sidebar3 h5 {
    margin: 15px;
    text-align: center;
    justify-content: center;
}
